.header {
    border-bottom: 1px solid #363636;
    padding-bottom: 10px;
    &__links {
        display: flex;
        justify-content: space-between;
        width: 400px;
        color: #fff;
        align-items: baseline;
    }

    &__link {
        font-size: 20px;
        color: #319478;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
    &__link.special {
        font-size: 35px;
        color: #fff;
    }
}